<footer class="foot" id="f">
  <h2>
    <a href="https://facebook.com/floyd.santos" class="ftlnk"><i class="fab fa-facebook-square"></i></a>
    &nbsp;&nbsp;<a href="https://twitter.com/flydsnts" class="ftlnk"><i class="fab fa-twitter-square"></i></a>
    &nbsp;&nbsp;<a href="https://instagram.com/flydsnts" class="ftlnk"><i class="fab fa-instagram"></i></a>
    &nbsp;&nbsp;Floyd Santos &copy;
  </h2>

  <form action="/sent" method="post" class="formcontainer">
    <div class="formwrapper">
    <div>
    Name:
    <input type="text" name="name" id="namee" aria-label="footer name" required>
    </div>
    <div>
    E-mail:
    <input type="email" name="mail" id="emaile" aria-label="footer email" required>
    </div>
    <div>
        <input type="submit" value="Send" id="sends" aria-label="footer submit">
    </div>
    </div>
  </form>
</footer>