<div class="sidebar">
  <ul class="navmenu">
      <li><a href="/"><i class="fas fa-camera-retro"></i></a></li>
      <li><a href="gallery">Gallery</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contacts">Contacts</a></li>
  </ul>
</div>